.tasks {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px 30px;
    float: left;
}

.tasks h1 {
    font-size: 2rem;
    margin-bottom: 6px;
}

.tasks p {
    font-size: 1.8rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
  
.tasks button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: darkblue;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    outline: none;
}
