.login-container {
    height: 90vh;
}
  
.login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form input[type=text], input[type=password] {
    padding: 8px;
    font-size: 1.5rem;
}

.login-form button {
    font-size: 1.8rem;
}

.form-text {
    font-size: 1.5rem;
}


  