.home {
    background: linear-gradient(180deg, #f2f2f2 0%, rgb(255, 255, 255) 100%);
    width: 100vw;
    /* height: 80vh; */
}

.home-text {
    /* padding-top: 15%; */
}

.btn-one {
    border: 1px solid black;
}

img {
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}