.home {
    /* background: linear-gradient(180deg, #f2f2f2 0%, rgb(255, 255, 255) 100%); */
}

.home-text {
    font-size: 2.8rem;
}

.home-btn a button {
    font-size: 2.2rem;
}

.btn-one {
    border: 1px solid black;
}

img {
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}